data/automated_blogging_system.json
{
  "name": "100% Automated Blogging System",
  "flow": [
    {
      "id": 1,
      "module": "rss:TriggerNewArticle",
      "version": 4,
      "parameters": {
        "url": "https://rss.app/feeds/H1tb0v0R10hoM8go.xml",
        "gzip": true,
        "include": [],
        "password": "",
        "username": "",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -79,
          "y": 1,
          "name": "AI Tools RSS Topic Retrieval "
        },
        "restore": {},
        "parameters": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of returned items",
            "required": true
          },
          {
            "name": "username",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "password",
            "type": "text",
            "label": "Password"
          },
          {
            "name": "include",
            "type": "select",
            "label": "Process RSS fields",
            "multiple": true,
            "validate": {
              "enum": [
                "google-merchant-center",
                "itunes"
              ]
            }
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "name": "description",
            "type": "text",
            "label": "Description"
          },
          {
            "name": "summary",
            "type": "text",
            "label": "Summary"
          },
          {
            "name": "author",
            "type": "text",
            "label": "Author"
          },
          {
            "name": "url",
            "type": "url",
            "label": "URL"
          },
          {
            "name": "dateUpdated",
            "type": "date",
            "label": "Date updated"
          },
          {
            "name": "dateCreated",
            "type": "date",
            "label": "Date created"
          },
          {
            "name": "comments",
            "type": "url",
            "label": "Comments"
          },
          {
            "name": "image",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Image"
          },
          {
            "name": "categories",
            "spec": {
              "type": "text"
            },
            "type": "array",
            "label": "Categories"
          },
          {
            "name": "source",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Source"
          },
          {
            "name": "enclosures",
            "spec": [
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "length",
                "type": "number",
                "label": "Length"
              }
            ],
            "type": "array",
            "label": "Enclosures"
          },
          {
            "help": "Other RSS fields. All values are in text format.",
            "name": "rssFields",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "title"
              },
              {
                "name": "description",
                "type": "text",
                "label": "description"
              },
              {
                "name": "link",
                "type": "text",
                "label": "link"
              },
              {
                "name": "guid",
                "type": "text",
                "label": "guid"
              },
              {
                "name": "pubdate",
                "type": "text",
                "label": "pubdate"
              },
              {
                "name": "media:content",
                "spec": [
                  {
                    "name": "props",
                    "spec": [
                      {
                        "name": "medium",
                        "type": "text",
                        "label": "medium"
                      },
                      {
                        "name": "url",
                        "type": "text",
                        "label": "url"
                      }
                    ],
                    "type": "collection",
                    "label": "Properties"
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  }
                ],
                "type": "collection",
                "label": "media:content"
              }
            ],
            "type": "collection",
            "label": "RSS fields"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "perplexity-ai:createAChatCompletion",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 841852
      },
      "mapper": {
        "model": "llama-3.1-sonar-large-128k-online",
        "messages": [
          {
            "content": "You're an SEO expert and blog writer with 20 years of experience. Turn the following post into a 1500 word+, SEO optimized blog post.\n\nDo not simply summarize the article. Be sure to add your own insights and takeaways. \n\nThe audience you're writing for is entrepreneurs and marketers.\n\nHere's the title of the article: {{1.title}}\n\nHere is the URL for the post: {{1.url}}\n\nFormat the article so that it can easily be uploaded into the medium platform. ",
            "role": "user"
          }
        ],
        "max_tokens": "10000"
      },
      "metadata": {
        "designer": {
          "x": 256,
          "y": 4,
          "name": "Perplexity: Write Blog Post"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "New Perplexity Key",
              "data": {
                "scoped": "true",
                "connection": "perplexity-ai"
              }
            }
          },
          "expect": {
            "model": {
              "mode": "chose",
              "label": "llama-3.1-sonar-large-128k-online"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  }
                }
              ]
            },
            "search_domain_filter": {
              "mode": "chose"
            },
            "search_recency_filter": {
              "mode": "chose",
              "label": "Empty"
            },
            "return_images": {
              "mode": "chose"
            },
            "return_related_questions": {
              "mode": "chose"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:perplexity-ai",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "messages",
            "type": "array",
            "label": "Messages",
            "required": true,
            "spec": [
              {
                "name": "content",
                "type": "text",
                "label": "Content",
                "required": true
              },
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Assistant",
                    "value": "assistant"
                  },
                  {
                    "label": "System",
                    "value": "system"
                  }
                ],
                "required": true
              }
            ]
          },
          {
            "name": "max_tokens",
            "type": "number",
            "label": "Max Tokens"
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 1.999,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "top_k",
            "type": "number",
            "label": "Top K",
            "validate": {
              "max": 2048,
              "min": 0
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "min": 0
            }
          },
          {
            "name": "search_domain_filter",
            "type": "array",
            "label": "Search Domain Filter",
            "spec": {
              "type": "text",
              "name": "value"
            }
          },
          {
            "name": "search_recency_filter",
            "type": "select",
            "label": "Search Recency Filter",
            "validate": {
              "enum": [
                "month",
                "week",
                "day",
                "hour"
              ]
            }
          },
          {
            "name": "return_images",
            "type": "boolean",
            "label": "Return Images"
          },
          {
            "name": "return_related_questions",
            "type": "boolean",
            "label": "Return Related Questions"
          }
        ]
      }
    },
    {
      "id": 19,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 562950
      },
      "mapper": {
        "model": "chatgpt-4o-latest",
        "top_p": "1",
        "select": "chat",
        "messages": [
          {
            "role": "user",
            "content": "You're an SEO expert and blog writer with 20 years of experience. Write an engaging, SEO optimized title for this blog post: {{2.choices[].message.content}}",
            "imageDetail": "auto"
          }
        ],
        "max_tokens": "2048",
        "temperature": "1",
        "n_completions": "1",
        "response_format": "text"
      },
      "metadata": {
        "designer": {
          "x": 629,
          "y": -2,
          "name": "ChatGPT - Create Image Prompt"
        },
        "restore": {
          "expect": {
            "stop": {
              "mode": "chose"
            },
            "model": {
              "mode": "chose",
              "label": "chatgpt-4o-latest"
            },
            "select": {
              "label": "Create a Chat Completion (GPT and o1 models)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "imageDetail": {
                    "mode": "chose",
                    "label": "Auto"
                  },
                  "imageInputType": {
                    "mode": "chose",
                    "label": "Empty"
                  }
                }
              ]
            },
            "logit_bias": {
              "mode": "chose"
            },
            "response_format": {
              "mode": "chose",
              "label": "Text"
            },
            "additionalParameters": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "New IG Connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": [
                "chat",
                "prompt"
              ]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "options": [
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                    "name": "imageUrl",
                                    "type": "url",
                                    "label": "Image URL"
                                  }
                                ]
                              },
                              {
                                "label": "Image File",
                                "value": "file",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "spec": [
                                      {
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ]
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                  }
                                ]
                              }
                            ],
                            "mappable": false
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "options": [
                              {
                                "label": "Auto",
                                "value": "auto",
                                "default": true
                              },
                              {
                                "label": "High",
                                "value": "high"
                              },
                              {
                                "label": "Low",
                                "value": "low"
                              }
                            ],
                            "advanced": true
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": [
                "text",
                "json_object"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "choices",
            "spec": {
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                },
                {
                  "name": "index",
                  "type": "number",
                  "label": "Index"
                },
                {
                  "name": "logprobs",
                  "type": "text",
                  "label": "Log Probs"
                },
                {
                  "name": "finish_reason",
                  "type": "text",
                  "label": "Finish Reason"
                },
                {
                  "name": "message",
                  "spec": [
                    {
                      "name": "role",
                      "type": "text",
                      "label": "Role"
                    },
                    {
                      "name": "content",
                      "type": "text",
                      "label": "Content"
                    },
                    {
                      "name": "refusal",
                      "type": "text",
                      "label": "Refusal"
                    }
                  ],
                  "type": "collection",
                  "label": "Message"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Choices"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "prompt_tokens",
                "type": "number",
                "label": "Prompt Tokens"
              },
              {
                "name": "completion_tokens",
                "type": "text",
                "label": "Completion Tokens"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              },
              {
                "name": "prompt_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "uinteger",
                    "label": "Cached Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Prompt Tokens Details"
              },
              {
                "name": "completion_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "uinteger",
                    "label": "Reasoning Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Completion Tokens Details"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "system_fingerprint",
            "type": "text",
            "label": "System Fingerprint"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "openai-gpt-3:GenerateImage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 562950
      },
      "mapper": {
        "size": "1024x1024",
        "model": "dall-e-3",
        "style": "vivid",
        "prompt": "Create an appropriate image for this blog post. Here's the title: {{19.choices[].message.content}}\n\nDo not include any text at all in the image under any circumstances - zero exceptions. ",
        "quality": "standard",
        "response_format": "imageFile"
      },
      "metadata": {
        "designer": {
          "x": 977,
          "y": 1,
          "name": "Dall-e 3: Create Blog Image"
        },
        "restore": {
          "expect": {
            "size": {
              "mode": "chose",
              "label": "1024x1024"
            },
            "model": {
              "mode": "chose",
              "label": "Dall-E 3"
            },
            "style": {
              "mode": "chose",
              "label": "Vivid"
            },
            "quality": {
              "mode": "chose",
              "label": "Standard"
            },
            "response_format": {
              "mode": "chose",
              "label": "Image File"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "New IG Connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true,
            "validate": {
              "enum": [
                "dall-e-3",
                "dall-e-2"
              ]
            }
          },
          {
            "name": "prompt",
            "type": "text",
            "label": "Prompt",
            "required": true,
            "validate": {
              "max": 4000,
              "min": 0
            }
          },
          {
            "name": "size",
            "type": "select",
            "label": "Size",
            "validate": {
              "enum": [
                "1024x1024",
                "1792x1024",
                "1024x1792"
              ]
            }
          },
          {
            "name": "quality",
            "type": "select",
            "label": "Quality",
            "validate": {
              "enum": [
                "standard",
                "hd"
              ]
            }
          },
          {
            "name": "style",
            "type": "select",
            "label": "Style",
            "validate": {
              "enum": [
                "vivid",
                "natural"
              ]
            }
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": [
                "url",
                "imageFile"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "data",
            "spec": [
              {
                "name": "fileName",
                "type": "text",
                "label": "File Name",
                "semantic": "file:name"
              },
              {
                "name": "fileData",
                "type": "buffer",
                "label": "File Data",
                "semantic": "file:data"
              },
              {
                "name": "revised_prompt",
                "type": "text",
                "label": "Revised Prompt"
              }
            ],
            "type": "array",
            "label": "Data"
          },
          {
            "name": "resImgName",
            "type": "text",
            "label": "Response Image Name",
            "semantic": "file:name"
          },
          {
            "name": "resImgData",
            "type": "buffer",
            "label": "Response Image Data",
            "semantic": "file:data"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 21,
      "module": "medium:uploadImage",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 842188
      },
      "mapper": {
        "name": "{{6.resImgName}}",
        "local": "{{6.resImgData}}"
      },
      "metadata": {
        "designer": {
          "x": 1306,
          "y": 0,
          "name": "Upload Medium Image"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "medium2"
              },
              "label": "My Medium connection (kevinfernando112)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:medium2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "name",
            "type": "filename",
            "label": "File Name"
          },
          {
            "name": "local",
            "type": "buffer",
            "label": "File"
          }
        ]
      }
    },
    {
      "id": 20,
      "module": "medium:createPost",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 842188
      },
      "mapper": {
        "title": "{{19.choices[].message.content}}",
        "content": "{{2.choices[].message.content}}![{{19.choices[].message.content}}]({{21.url}})",
        "contentFormat": "markdown",
        "publishStatus": "draft"
      },
      "metadata": {
        "designer": {
          "x": 1620,
          "y": 1,
          "name": "Create Medium Post"
        },
        "restore": {
          "expect": {
            "tags": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "medium2"
              },
              "label": "My Medium connection (kevinfernando112)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:medium2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "name": "contentFormat",
            "type": "text",
            "label": "Content Format",
            "required": true
          },
          {
            "name": "content",
            "type": "text",
            "label": "Content",
            "required": true
          },
          {
            "name": "canonicalUrl",
            "type": "text",
            "label": "Canonical Url"
          },
          {
            "name": "tags",
            "spec": {
              "name": "value",
              "type": "text"
            },
            "type": "array",
            "label": "Tags"
          },
          {
            "name": "publishStatus",
            "type": "text",
            "label": "Publish Status"
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com"
  }
}
